<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Acceuil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body class="main">
    <!-- Top navbar -->
    <div class="top">
        <!-- Return button -->
        <a href="/fr/home" id="return-button">Acceuil</a>

        <!-- Language switcher -->
        <select id="languageSwitcher">
            <option value="fr"><span>&#x1F1EB;&#x1F1F7;</span> Français</option>
            <option value="en"><span>&#x1F1EC;&#x1F1E7;</span> English</option>
            <option value="nl"><span>&#x1F1F3;&#x1F1F1;</span> Nederlands</option>
        </select>
    </div>

    <div class="home">
        <h1>Demain</h1>
        <p>Demain est un site web qui vous permet de découvrir des solutions pour un monde plus durable.</p>
        <p>Choisissez une catégorie pour commencer :</p>
    </div>

    <div class="bottom">
        <p id="footer">Ce site est entièrement open-source :
            <a href="https://github.com/Piwy-dev/demain">voir sur GitHub</a>.
        </p>
    </div>
</body>

</html>